<head>
  <link href="/css/general.css" rel="stylesheet" />
  <link href="/css/client-my-applications.css" rel="stylesheet" />
  <link href="/css/company-my-announcements.css" rel="stylesheet" />
</head>

<% if (applications.length === 0) { %>
<p class="text-center fw-bold">Não tem nenhuma candidatura realizada.</p>
<% } %> <% applications.forEach(app => { %>
<div class="white-card d-flex p-0">
  <div class="d-flex p-0 justify-content-between">
    <!-- imagem -->
    <div class="mini-card-image-wrapper">
      <img class="structure-img" src="<%= app.announcement_id?.pic %>" />
    </div>
    <!-- texto -->
    <div class="d-flex flex-column justify-content-between ps-2 pt-1 pb-2">
      <div class="mb-2">
      <h5 class="text-truncate" style="max-width: 135px"><%= app.announcement_id?.job_name || 'Anuncio' %></h5>
      <h6 class="mb-0 fw-normal"><%= new Date(app.submittedAt).toLocaleString('pt-PT') %></h6>
      </div>
    </div>
  </div>

  <span class="pe-2 align-content-center">
    <div class="d-flex flex-column gap-2 justify-content-center pe-3 pb-2 pt-2">
      <!-- Botão Detalhes -->
      <button
        class="btn btn-blue btn-small w-100"
        onclick="window.location.href='/company-details-candidate?id=<%= app._id %>'"
      >
        <h6 class="mb-0" style="font-weight: 600">Detalhes</h6>
      </button>
      <!-- Botão Eliminar -->
      <form
        method="POST"
        action="/my-applications/<%= app._id %>?_method=DELETE"
      >
        <button type="submit" class="btn btn-delete btn-small w-100">
          <h6 class="mb-0" style="font-weight: 600">Eliminar</h6>
        </button>
      </form>
    </div>
  </span>
</div>
<% }); %>
