<head>
  <link href="/css/general.css" rel="stylesheet" />
  <link href="/css/client-my-applications.css" rel="stylesheet" />
  <link href="/css/company-my-announcements.css" rel="stylesheet" />
</head>

<% if (applications.length === 0) { %>
  <p class="text-center fw-bold">Não tem nenhuma candidatura realizada.</p>
<% } %>

<% applications.forEach(app => { %>
  <div class="white-card pointer d-flex p-0">
    <div class="d-flex justify-content-start">
      <!-- imagem -->
    <div class="mini-card-image-wrapper">
      <img class="structure-img" src="<%= app.announcement_id?.pic %>" />
    </div>
    <!-- texto -->
      <div class="d-flex flex-column justify-content-between ps-2 pt-1 pb-2">
        <h4 class="mt-2"><%= app.announcement_id?.job_name || 'Anuncio' %></h4>
        <p class=""><%= new Date(app.submittedAt).toLocaleString('pt-PT') %></p>
      </div>
    </div>

    <span class="pe-2 align-content-center ml-1">
      <div class="d-flex flex-column gap-2 justify-content-center pe-3 pb-2 pt-2">  
      <!-- Botão Editar -->
      <form method="GET" action="/my-applications/edit/<%= app._id %>">
        <button type="submit" class="btn btn-black btn-small w-100">
          <h6 class="mb-0" style="font-weight: 600">Editar</h6>
        </button>
      </form>
      <!-- Botão Eliminar -->
      <form method="POST" action="/my-applications/delete/<%= app._id %>" onsubmit="return confirm('Desejas eliminar esta candidatura?')">
        <button type="submit" class="btn btn-delete btn-small w-100">
          <h6 class="mb-0" style="font-weight: 600">Eliminar</h6>
        </button>
      </form>

    </div>
  </span>

  </div>
<% }); %>

<button type="button" class="voltar" onclick="window.location.href='/'">
  Voltar
</button>

<script src="/js/client-my-profile.js"></script>
