<head>
  <link href="/css/client-submit.css" rel="stylesheet" />
  <link href="/css/general.css" rel="stylesheet" />

</head>
<form action="/client-submit/" method="POST">
<div class="container">
  <p><b>Candidatura</b></p>
  <div class="dados">
    <input type="nome" name="name" value="<%= user.name %>" placeholder="Nome completo" />
    <br />
    <input type="idade" name="age" value="<%= candidate.age %>"  placeholder="Idade" />
    <br />
    <input type="numero" name="phone" value="<%= candidate.phone %>" placeholder="Nº de Telefone" />
    <br />
    <input type="nif" name="nif" value="<%= candidate.nif %>" placeholder="NIF" />
    <br />
    <input type="email" name="email" value="<%= user.email %>" placeholder="E-mail" />
    <br />
    <input type="morada" name="address" value="<%= candidate.address %>" placeholder="Morada" />
    <br />
    <input type="localidade" name="municipality" value="<%= candidate.municipality %>" placeholder="Localidade" />
    <br />
    <input type="postcode" name="postcode" value="<%= candidate.postcode %>" placeholder="Código Postal" />
    <br>
    <!-- Escolaridade -->
    <div class="escolaridade">
      <select id="escolaridade" name="education_level" value="<%= candidate.education_level %>">
        <option value="selecione">Selecione o nível de escolaridade</option>
        <option value="basico">Ensino Básico</option>
        <option value="secundario">Ensino Secundário</option>
        <option value="licenciatura">Licenciatura</option>
        <option value="mestrado">Mestrado</option>
        <option value="doutoramento">Doutoramento</option>
      </select>
    </div>
    <br />
<style>
  /* Força o estilo padrão de checkbox */
  .form-check-input[type="checkbox"] {
    appearance: checkbox;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    width: auto;
    height: auto;
    margin-top: 0.3em;
  }
</style>

<div class="mb-3">
  <h5 class="mb-2">Línguas</h5>
  <div class="d-flex flex-wrap gap-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="languages[]" value="Inglês" id="lingua-ingles">
      <label class="form-check-label" for="lingua-ingles">Inglês</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="languages[]" value="Francês" id="lingua-frances">
      <label class="form-check-label" for="lingua-frances">Francês</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="languages[]" value="Espanhol" id="lingua-espanhol">
      <label class="form-check-label" for="lingua-espanhol">Espanhol</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="languages[]" value="Alemão" id="lingua-alemao">
      <label class="form-check-label" for="lingua-alemao">Alemão</label>
    </div>
  </div>
</div>
    <br />
    <div class="sobre">
      <input type="sobre" name="about_me" value="<%= candidate.about_me %>" placeholder="Sobre mim"/>
    </div>
    <br />
    <div>
      <h5 id="cv">Anexar CV:</h5>
      <br />
      <input type="file" name="cv" value="<%= candidate.cv %>" class="d-none" id="fileInput" />
      <label for="fileInput" class="btn btn-primary">
        <i class="bi bi-upload"></i> Enviar arquivo
      </label>
    </div>
    <!-- Passar announcementId escondido no formulario-->
    <input type="hidden" name="announcement_id" value="<%= announcementId %>">
  </form>

    <div class="actions-btn">
      <button type="button" class="btn btn-blue" onclick="window.location.href='/'">
        Voltar
      </button>
      <button type="submit" class="btn btn-blue">Enviar</button>
    </div>
  </div>
</div>
