<head>
  <link href="/css/general.css" rel="stylesheet" />
  <link href="/css/client-my-profile.css" rel="stylesheet" />
</head>
<div id="menu-container">
  <div onclick="clientProfile()" class="client-profile">
    <p id="perfil">Meu perfil</p>
  </div>
  <div onclick="clientCand()" class="client-cand">
    <p id="cand">Candidaturas</p>
  </div>
</div>
<hr id="linha" />
<form id="profile-form" method="POST">
  <input type="file" id="uploadFoto" accept="image/*" style="display: none" />
  <div id="pfp-container" style="cursor: pointer; text-align: center">
    <img id="pfpImg" src="/images/my-account.png" alt="pfp" />
    <p id="pfpChange">Alterar Imagem</p>
  </div>
  <h2 class="fw-bold mb-4" id="personalData">Dados Pessoais</h2>
  <script>
    // Quando clica no container, abre o seletor de ficheiros
    document
      .getElementById("pfp-container")
      .addEventListener("click", function () {
        document.getElementById("uploadFoto").click();
      });

    // Quando seleciona uma imagem, atualiza a imagem visível
    document
      .getElementById("uploadFoto")
      .addEventListener("change", function (event) {
        const file = event.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
            document.getElementById("pfpImg").src = e.target.result;
          };
          reader.readAsDataURL(file);
        }
      });
  </script>
  <div>
    <input
      class="form-group"
      type="text"
      name="name"
      placeholder="Nome e apelido"
      value="<%= user?.name || '' %>"
    />
  </div>
  <div>
    <input
      class="form-group"
      type="text"
      name="username"
      placeholder="Nome de Utilizador"
      value="<%= user?.username || '' %>"
    />
  </div>
  <div>
    <input
      class="form-group"
      type="tel"
      name="phone"
      placeholder="Nº Telemóvel"
      value="<%= user?.phone || '' %>"
    />
  </div>
  <div>
    <input class="form-group" type="text" name="nif" placeholder="NIF" value="<%= user?.nif || '' %>" />
  </div>
  <div>
    <input class="form-group" type="text" name="email" placeholder="E-mail" value="<%= user?.email || '' %>"/>
  </div>
  <div>
    <input
      class="form-group"
      type="text"
      name="confirmEmail"
      placeholder="Confirmar E-mail"
    />
  </div>
  <div>
    <input
      class="form-group"
      type="text"
      name="password"
      placeholder="Palavra-passe Atual"
    />
  </div>
  <div>
    <input
      class="form-group"
      type="text"
      name="newPassword"
      placeholder=" Nova Palavra-passe"
    />
  </div>
</form>

<br />
<br />
<div class="actions-btn d-flex">
  <div class="d-flex justify-content-between gap-3 buttonWidth">
    <button
      type="button"
      class="buttonWidth btn btn-black"
      onclick="window.location.href='/'"
    >
      Voltar
    </button>
    <button type="submit" class="buttonWidth btn btn-blue">Guardar</button>
  </div>
</div>
<br>
<div class="actions-btn d-grid buttonWidth">
  <button class="btn btn-delete">Eliminar Conta</button>
</div>

<script src="/js/client-my-profile.js"></script>


