<!-- ../views/company-my-announcements.ejs -->

<head>
  <link href="/css/general.css" rel="stylesheet" />
  <link href="/css/company-my-announcements.css" rel="stylesheet" />
</head>

<h2 class="text-center my-5 fw-bold">Anúncios de <%= company.name %></h2>

<% if (announcements.length === 0) { %>
<p class="text-center fw-bold">A sua empresa ainda não tem anúncios.</p>
<% } %> <% announcements.forEach((announcement) => { %>
<div class="white-card d-flex p-0 justify-content-between">
  <div class="d-flex">
    <!-- imagem -->
    <div class="mini-card-image-wrapper">
      <img class="structure-img" src="<%= announcement.pic %>" />
    </div>
    <!-- texto -->
    <div class="d-flex flex-column justify-content-between ps-2 pt-2 pb-2">
      <div class="mb-2">
        <h5 class="text-truncate" style="max-width: 120px">
          <%= announcement.job_name %>
        </h5>
        <h6 class="mb-0 fw-normal"><%=announcement.state%></h6>
      </div>
      <div>
        <a
          class="text-muted"
          href="/company-details-announcement?id=<%= announcement._id %>"
        >
          <h6 class="fw-normal">Ver anúncio</h6>
        </a>
      </div>
    </div>
  </div>
  <!-- Lado direito: botões -->
  <span class="pe-2 align-content-center">
    <div class="d-flex flex-column gap-2 justify-content-center pe-3 pb-2 pt-2">
      <button
        type="button"
        class="btn btn-black btn-small w-100"
        onclick="location.href='/company-manage-announcement/<%= announcement._id %>'"
      >
        <h6 class="mb-0" style="font-weight: 600">Editar</h6>
      </button>
      <button type="button" class="btn btn-blue btn-small w-100" onclick="">
        <h6 class="mb-0" style="font-weight: 600">Candidatos</h6>
      </button>
    </div>
  </span>
</div>
<% }); %>

<div class="text-center mt-4">
  <button
    class="btn btn-blue w-100"
    onclick="location.href='/company-create-announcement/<%= company._id %>'"
  >
    <h6 class="fw-bold">+ Criar anúncio</h6>
  </button>
</div>

<div class="text-center mt-4">
  <button class="btn btn-black w-100" onclick="history.back()">
    <h6 class="fw-bold">Voltar</h6>
  </button>
</div>

<script src="/js/company-my-profile.js"></script>

<div id="notification" class="notification" style="display: none">
  <div class="alert">!</div>
  <div class="content">
    <div class="title">Notificação</div>
    <div class="message">Anúncio criado com sucesso</div>
  </div>
  <div class="progress-bar-add"></div>
</div>

<div id="notification-delete" class="notificationdel" style="display: none">
  <div class="alert">!</div>
  <div class="content">
    <div class="title">Notificação</div>
    <div class="message">Anúncio eliminado com sucesso</div>
  </div>
  <div class="progress-bar-del"></div>
  <!-- Barra de progresso -->
</div>

<div id="notification-edit" class="notificationedit" style="display: none">
  <div class="alert">!</div>
  <div class="content">
    <div class="title">Notificação</div>
    <div class="message">Anúncio editado com sucesso</div>
  </div>
  <div class="progress-bar-edit"></div>
</div>

<script>
  // Verifica se há notificação a ser exibida
  if (sessionStorage.getItem("mostrarNotificacao") === "true") {
    const notification = document.getElementById("notification");
    notification.style.display = "flex";

    // Remove o gatilho da sessão para não repetir
    sessionStorage.removeItem("mostrarNotificacao");

    // Reinicia a animação da progress bar (necessário para casos de reuso)
    const progressBar = notification.querySelector(".progress-bar-add");
    progressBar.style.animation = "none";
    progressBar.offsetHeight; // forçar reflow
    progressBar.style.animation = null;

    // Esconde após x segundos
    setTimeout(() => {
      notification.classList.add("hide");
      setTimeout(() => {
        notification.remove();
      }, 500);
    }, 5000);
  }
</script>

<script>
  // Verifica se há notificação de remoção a ser exibida
  if (sessionStorage.getItem("mostrarNotificacaoRemocao") === "true") {
    const notificationDelete = document.getElementById("notification-delete");
    notificationDelete.style.display = "flex";

    // Remove o gatilho da sessão para não repetir
    sessionStorage.removeItem("mostrarNotificacaoRemocao");

    // Reinicia a animação da progress bar (necessário para casos de reuso)
    const progressBar = notificationDelete.querySelector(".progress-bar-del");
    progressBar.style.animation = "none";
    progressBar.offsetHeight; // forçar reflow
    progressBar.style.animation = null;

    // Esconde após x segundos
    setTimeout(() => {
      notificationDelete.classList.add("hide");
      setTimeout(() => {
        notificationDelete.remove();
      }, 500); // tempo da transição de opacidade
    }, 5000); // tempo do alerta
  }
</script>

<script>
  // Verifica se há notificação de remoção a ser exibida
  if (sessionStorage.getItem("mostrarNotificacaoEdit") === "true") {
    const notificationEdit = document.getElementById("notification-edit");
    notificationEdit.style.display = "flex";

    // Remove o gatilho da sessão para não repetir
    sessionStorage.removeItem("mostrarNotificacaoEdit");

    // Reinicia a animação da progress bar (necessário para casos de reuso)
    const progressBar = notificationEdit.querySelector(".progress-bar-edit");
    progressBar.style.animation = "none";
    progressBar.offsetHeight; // forçar reflow
    progressBar.style.animation = null;

    // Esconde após x segundos
    setTimeout(() => {
      notificationEdit.classList.add("hide");
      setTimeout(() => {
        notificationEdit.remove();
      }, 50);
    }, 5000);
  }
</script>
