<head>
  <link href="/css/general.css" rel="stylesheet" />
</head>

<div class="container">
  <div class="white-card">
    <h4 class="text-center fw-bold mt-3">Detalhes do Candidatura</h4>
    <p class="mt-4"><b>Nome: </b><%= application.name %></p>
    <p><b>Data de nascimento: </b><%= application.birthdate %></p>
    <p><b>Nº de Telefone: </b><%= application.phone %></p>
    <p><b>NIF: </b><%= application.nif %></p>
    <p><b>E-mail: </b><%= application.email %></p>
    <p><b>Morada: </b><%= application.address %></p>
    <p><b>Localidade: </b><%= application.municipality %></p>
    <p><b>Código Postal: </b><%= application.postcode %></p>
    <p><b>Escolaridade</b>: </b><%= application.education_level %></p>
    <p><b>Línguas: </b><%= application.languages && application.languages.length > 0 ? application.languages.join(" ; ") : "Não especificado" %></p>
    <p><b>Competências: </b><%= application.skills && application.skills.length > 0 ? application.skills.join(" ; ") : "Não especificado" %></p>
    <p><b>Sobre: </b><%= application.about_me %></p>
    <% if (application.cv) { %>
      <p><b>CV: </b> <a href="<%= application.cv %>" target="_blank">Ver CV</a></p>
    <% } %>
  </div>

  <div class="d-grid mt-4">
    <button class="btn btn-black" onclick="history.back()">Voltar</button>
  </div>
</div>