<head>
  <link href="/css/general.css" rel="stylesheet" />
  <link href="/css/company-my-announcements.css" rel="stylesheet" />
</head>

<div class="white-card full-announcement p-3">
  <div class="gap-2">
    <h3 class="mb-3"><b><%= announcement.job_name %></b></h3>

    <h5 class="mb-1 fw-normal">
      <span class="fw-semibold">Local:</span> <%= announcement.municipality %>
    </h5>
    <h5 class="mb-1 fw-normal">
      <span class="fw-semibold">Regime:</span> <%= announcement.regime %>
    </h5>
    <h5 class="mb-1 fw-normal">
      <span class="fw-semibold">Categoria:</span> <%= announcement.category %>
    </h5>
    <h5 class="mb-1 fw-normal">
      <span class="fw-semibold">Tipo:</span> <%= announcement.type %>
    </h5>
    <h5 class="mb-1 fw-normal">
      <span class="fw-semibold">Escolaridade:</span> <%=
      announcement.education_level %>
    </h5>
    <h5 class="mb-1 fw-normal">
      <span class="fw-semibold">Línguas:</span>
      <%= announcement.languages && announcement.languages.length > 0 ?
      announcement.languages.join(" ; ") : "Não especificado" %>
    </h5>
    <h5 class="mb-1 fw-normal">
      <span class="fw-semibold">Horário:</span> <%=
      announcement.schedule.startTime %> - <%= announcement.schedule.endTime %>
    </h5>
    <h5 class="mb-1 fw-normal">
      <span class="fw-semibold">Salário:</span>
      <%= announcement.salary ? announcement.salary + "€" : "A combinar" %>
    </h5>
    <h5 class="mb-1 fw-normal">
      <span class="fw-semibold">Fim do anúncio:</span>
      <%= announcement.end_date ?
      announcement.end_date.toLocaleDateString("pt-PT") : "Indefinido" %>
    </h5>
    <img src="<%= announcement.pic %>" class="mt-2" />
    <h6 class="fw-normal">
      <span class="bfw-semibold">Descrição:</span> <%= announcement.description
      %>
    </h6>
  </div>

  <div class="d-grid gap-2 mt-3">
    <div class="d-flex gap-2">
      <a
        href="/company-manage-announcement?id=<%= announcement._id %>"
        class="d-grid gap-2 text-reset text-decoration-none w-100"
      >
        <button class="btn btn-blue">Editar</button>
      </a>
      <a
        href="/company-candidates"
        class="d-grid gap-2 text-reset text-decoration-none w-100"
      >
        <button class="btn btn-blue">Candidatos</button>
      </a>
    </div>
    <button class="btn btn-black" onclick="history.back()">Voltar</button>
  </div>
</div>
