<!-- ../views/company-manage-announcement.ejs -->

<head>
  <link href="/css/general.css" rel="stylesheet" />
  <link href="/css/form.css" rel="stylesheet" />
</head>

<div class="container-ad">
  <h2 class="text-center my-4">Gerir Anúncio</h2>
  <form id="editAnuncioForm" method="POST" action="/company-manage-announcement/<%= announcement._id %>" enctype="multipart/form-data">
    <label
      >Nome da profissão
      <input type="text" name="job_name" id="job_name" value="<%=announcement.job_name%>"/>
    </label>
    <label
      >Categoria
      <select name="category" id="category">
        <option>-- Selecione uma opção --</option>
        <option value="Restauração" <%= announcement.category === 'Restauração' ? 'selected' : '' %>>Restauração</option>
        <option value="Limpeza" <%= announcement.category === 'Limpeza' ? 'selected' : '' %>>Limpeza</option>
        <option value="Construção" <%= announcement.category === 'Construção' ? 'selected' : '' %>>Construção</option>
        <option value="Vendedor" <%= announcement.category === 'Vendedor' ? 'selected' : '' %>>Vendedor</option>
        <option value="Saúde" <%= announcement.category === 'Saúde' ? 'selected' : '' %>>Saúde</option>
        <option value="Educação" <%= announcement.category === 'Educação' ? 'selected' : '' %>>Educação</option>
        <option value="IT" <%= announcement.category === 'IT' ? 'selected' : '' %>>IT</option>
        <option value="Administração" <%= announcement.category === 'Administração' ? 'selected' : '' %>>Administração</option>
        <option value="Transporte" <%= announcement.category === 'Transporte' ? 'selected' : '' %>>Transporte</option>
        <option value="Atendimento ao Cliente" <%= announcement.category === 'Atendimento ao Cliente' ? 'selected' : '' %>>Atendimento ao Cliente</option>
        <option value="Marketing" <%= announcement.category === 'Marketing' ? 'selected' : '' %>>Marketing</option>
        <option value="Financeiro" <%=announcement.category==='Financeiro' ? 'selected' : '' %>>Financeiro</option>
        <option value="Logística" <%=announcement.category==='Logística' ? 'selected' : '' %>>Logística</option>
        <option value="Segurança" <%=announcement.category==='Segurança' ? 'selected' : '' %>>Segurança</option>
        <option value="Serviços Gerais" <%=announcement.category==='Serviços Gerais' ? 'selected' : '' %>>Serviços Gerais
        </option>
        <option value="Outros" <%=announcement.category==='Outros' ? 'selected' : '' %>>Outros</option>

      </select>
    </label>
    <label
      >Tipo de contrato
      <select name="type" id="type">
  <option value="">-- Selecione uma opção --</option>
  <option value="Emprego" <%= announcement.type === 'Emprego' ? 'selected' : '' %>>Emprego</option>
  <option value="Estágio" <%= announcement.type === 'Estágio' ? 'selected' : '' %>>Estágio</option>
</select>

    </label>
    <label
      >Concelho
      <select name="municipality" id="municipality">
        <option value="">-- Selecione uma opção --</option>
    <option value="Ponta do Sol" <%= announcement.municipality === 'Ponta do Sol' ? 'selected' : '' %>>Ponta do Sol</option>
  <option value="Calheta" <%= announcement.municipality === 'Calheta' ? 'selected' : '' %>>Calheta</option>
<option value="Ribeira Brava" <%= announcement.municipality === 'Ribeira Brava' ? 'selected' : '' %>>Ribeira Brava</option>
<option value="Câmara de Lobos" <%= announcement.municipality === 'Câmara de Lobos' ? 'selected' : '' %>>Câmara de Lobos</option>
<option value="Funchal" <%= announcement.municipality === 'Funchal' ? 'selected' : '' %>>Funchal</option>
<option value="Santa Cruz" <%= announcement.municipality === 'Santa Cruz' ? 'selected' : '' %>>Santa Cruz</option>
<option value="Machico" <%= announcement.municipality === 'Machico' ? 'selected' : '' %>>Machico</option>
<option value="Santana" <%= announcement.municipality === 'Santana' ? 'selected' : '' %>>Santana</option>
<option value="São Vicente" <%= announcement.municipality === 'São Vicente' ? 'selected' : '' %>>São Vicente</option>
<option value="Porto Moniz" <%= announcement.municipality === 'Porto Moniz' ? 'selected' : '' %>>Porto Moniz</option>
<option value="Porto Santo" <%= announcement.municipality === 'Porto Santo' ? 'selected' : '' %>>Porto Santo</option>
</select>
  </label>
  <label>Freguesia
    <select name="freg" id="freguesia">
    <option value="">-- Selecione uma opção --</option>
    <option value="Achadas da Cruz" <%= announcement.freg === 'Achadas da Cruz' ? 'selected' : '' %>>Achadas da Cruz</option>
    <option value="Água de Pena" <%= announcement.freg === 'Água de Pena' ? 'selected' : '' %>>Água de Pena</option>
<option value="Arco da Calheta" <%= announcement.freg === 'Arco da Calheta' ? 'selected' : '' %>>Arco da Calheta</option>
<option value="Arco de São Jorge" <%= announcement.freg === 'Arco de São Jorge' ? 'selected' : '' %>>Arco de São Jorge</option>
<option value="Boaventura" <%= announcement.freg === 'Boaventura' ? 'selected' : '' %>>Boaventura</option>
<option value="Calheta" <%= announcement.freg === 'Calheta' ? 'selected' : '' %>>Calheta</option>
<option value="Câmara de Lobos" <%= announcement.freg === 'Câmara de Lobos' ? 'selected' : '' %>>Câmara de Lobos</option>
<option value="Campanário" <%= announcement.freg === 'Campanário' ? 'selected' : '' %>>Campanário</option>
<option value="Canhas" <%= announcement.freg === 'Canhas' ? 'selected' : '' %>>Canhas</option>
<option value="Caniçal" <%= announcement.freg === 'Caniçal' ? 'selected' : '' %>>Caniçal</option>
<option value="Caniço" <%= announcement.freg === 'Caniço' ? 'selected' : '' %>>Caniço</option>
<option value="Camacha" <%= announcement.freg === 'Camacha' ? 'selected' : '' %>>Camacha</option>
<option value="Curral das Freiras" <%= announcement.freg === 'Curral das Freiras' ? 'selected' : '' %>>Curral das Freiras</option>
<option value="Estreito da Calheta" <%= announcement.freg === 'Estreito da Calheta' ? 'selected' : '' %>>Estreito da Calheta</option>
<option value="Estreito de Câmara de Lobos" <%= announcement.freg === 'Estreito de Câmara de Lobos' ? 'selected' : '' %>>Estreito de Câmara de Lobos</option>
<option value="Faial" <%= announcement.freg === 'Faial' ? 'selected' : '' %>>Faial</option>
<option value="Fajã da Ovelha" <%= announcement.freg === 'Fajã da Ovelha' ? 'selected' : '' %>>Fajã da Ovelha</option>
<option value="Gaula" <%= announcement.freg === 'Gaula' ? 'selected' : '' %>>Gaula</option>
<option value="Ilha" <%= announcement.freg === 'Ilha' ? 'selected' : '' %>>Ilha</option>
<option value="Imaculado Coração de Maria" <%= announcement.freg === 'Imaculado Coração de Maria' ? 'selected' : '' %>>Imaculado Coração de Maria</option>
<option value="Jardim da Serra" <%= announcement.freg === 'Jardim da Serra' ? 'selected' : '' %>>Jardim da Serra</option>
<option value="Jardim do Mar" <%= announcement.freg === 'Jardim do Mar' ? 'selected' : '' %>>Jardim do Mar</option>
<option value="Machico" <%= announcement.freg === 'Machico' ? 'selected' : '' %>>Machico</option>
<option value="Madalena do Mar" <%= announcement.freg === 'Madalena do Mar' ? 'selected' : '' %>>Madalena do Mar</option>
<option value="Monte" <%= announcement.freg === 'Monte' ? 'selected' : '' %>>Monte</option>
<option value="Paúl do Mar" <%= announcement.freg === 'Paúl do Mar' ? 'selected' : '' %>>Paúl do Mar</option>
<option value="Ponta Delgada" <%= announcement.freg === 'Ponta Delgada' ? 'selected' : '' %>>Ponta Delgada</option>
<option value="Ponta do Pargo" <%= announcement.freg === 'Ponta do Pargo' ? 'selected' : '' %>>Ponta do Pargo</option>
<option value="Ponta do Sol" <%= announcement.freg === 'Ponta do Sol' ? 'selected' : '' %>>Ponta do Sol</option>
<option value="Porto da Cruz" <%= announcement.freg === 'Porto da Cruz' ? 'selected' : '' %>>Porto da Cruz</option>
<option value="Porto Moniz" <%= announcement.freg === 'Porto Moniz' ? 'selected' : '' %>>Porto Moniz</option>
<option value="Porto Santo" <%= announcement.freg === 'Porto Santo' ? 'selected' : '' %>>Porto Santo</option>
<option value="Prazeres" <%= announcement.freg === 'Prazeres' ? 'selected' : '' %>>Prazeres</option>
<option value="Quinta Grande" <%= announcement.freg === 'Quinta Grande' ? 'selected' : '' %>>Quinta Grande</option>
<option value="Ribeira Brava" <%= announcement.freg === 'Ribeira Brava' ? 'selected' : '' %>>Ribeira Brava</option>
<option value="Ribeira da Janela" <%= announcement.freg === 'Ribeira da Janela' ? 'selected' : '' %>>Ribeira da Janela</option>
<option value="Santa Cruz" <%= announcement.freg === 'Santa Cruz' ? 'selected' : '' %>>Santa Cruz</option>
<option value="Santa Luzia" <%= announcement.freg === 'Santa Luzia' ? 'selected' : '' %>>Santa Luzia</option>
<option value="Santa Maria Maior" <%= announcement.freg === 'Santa Maria Maior' ? 'selected' : '' %>>Santa Maria Maior</option>
<option value="Santana" <%= announcement.freg === 'Santana' ? 'selected' : '' %>>Santana</option>
<option value="Santo António" <%= announcement.freg === 'Santo António' ? 'selected' : '' %>>Santo António</option>
<option value="Santo António da Serra (Machico)" <%= announcement.freg === 'Santo António da Serra (Machico)' ? 'selected' : '' %>>Santo António da Serra (Machico)</option>
<option value="Santo António da Serra (Santa Cruz)" <%= announcement.freg === 'Santo António da Serra (Santa Cruz)' ? 'selected' : '' %>>Santo António da Serra (Santa Cruz)</option>
<option value="São Gonçalo" <%= announcement.freg === 'São Gonçalo' ? 'selected' : '' %>>São Gonçalo</option>
<option value="São Jorge" <%= announcement.freg === 'São Jorge' ? 'selected' : '' %>>São Jorge</option>
<option value="São Martinho" <%= announcement.freg === 'São Martinho' ? 'selected' : '' %>>São Martinho</option>
<option value="São Pedro" <%= announcement.freg === 'São Pedro' ? 'selected' : '' %>>São Pedro</option>
<option value="São Roque" <%= announcement.freg === 'São Roque' ? 'selected' : '' %>>São Roque</option>
<option value="São Roque do Faial" <%= announcement.freg === 'São Roque do Faial' ? 'selected' : '' %>>São Roque do Faial</option>
<option value="São Vicente" <%= announcement.freg === 'São Vicente' ? 'selected' : '' %>>São Vicente</option>
<option value="Seixal" <%= announcement.freg === 'Seixal' ? 'selected' : '' %>>Seixal</option>
<option value="Serra de Água" <%= announcement.freg === 'Serra de Água' ? 'selected' : '' %>>Serra de Água</option>
<option value="Sé" <%= announcement.freg === 'Sé' ? 'selected' : '' %>>Sé</option>
<option value="Tabua" <%= announcement.freg === 'Tabua' ? 'selected' : '' %>>Tabua</option>

  </select>
  </label>
  <label
      >Morada
      <input type="text" name="address" id="address" value="<%=announcement.address%>"/>
    </label>
    <label
      >Código postal
      <input type="text" name="postcode" id="postcode" value="<%=announcement.postcode%>"/>
    </label>
    <label>
  Regime
  <select name="regime" id="regime">
    <option value="">-- Selecione uma opção --</option>
    <option value="Full-Time" <%= announcement.regime === 'Full-Time' ? 'selected' : '' %>>Full-Time</option>
    <option value="Part-Time" <%= announcement.regime === 'Part-Time' ? 'selected' : '' %>>Part-Time</option>
  </select>
</label>

<label>
  Escolaridade
  <select name="education_level" required>
    <option value="">Selecione uma opção</option>
    <option value="ensino básico" <%= announcement.education_level === 'ensino básico' ? 'selected' : '' %>>Ensino básico</option>
    <option value="ensino secundário" <%= announcement.education_level === 'ensino secundário' ? 'selected' : '' %>>Ensino secundário</option>
    <option value="ensino superior" <%= announcement.education_level === 'ensino superior' ? 'selected' : '' %>>Ensino superior</option>
  </select>
</label>
<div>
  <style>
    /* Força o estilo padrão de checkbox */
      .form-check-input[type="checkbox"] {
        appearance: checkbox;
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        width: auto;
        height: auto;
        margin-top: 0.3em;
      }
  </style>

<div class="mb-3">
  <h5 class="mb-3 fw-bold">Línguas</h5>
  <div class="d-flex flex-wrap gap-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="languages[]" value="Eng" id="lingua-ingles"
        <%= announcement.languages && announcement.languages.includes('Eng') ? 'checked' : '' %>>
      <label class="form-check-label" for="lingua-ingles">Inglês</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="languages[]" value="Fr" id="lingua-frances"
        <%= announcement.languages && announcement.languages.includes('Fr') ? 'checked' : '' %>>
      <label class="form-check-label" for="lingua-frances">Francês</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="languages[]" value="Esp" id="lingua-espanhol"
        <%= announcement.languages && announcement.languages.includes('Esp') ? 'checked' : '' %>>
      <label class="form-check-label" for="lingua-espanhol">Espanhol</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="languages[]" value="Ger" id="lingua-alemao"
        <%= announcement.languages && announcement.languages.includes('Ger') ? 'checked' : '' %>>
      <label class="form-check-label" for="lingua-alemao">Alemão</label>
    </div>
  </div>
  
</div>
</div>
    <label
      >Salário
      <input type="text" name="salary" required value="<%= announcement.salary%>" />
    </label>

    <label>Horário de trabalho</label>
    <div class="d-inline-flex p-2 gap-5">
      <div class="form-group">
        <label for="inicio">Horário de Início:</label>
        <input type="time" id="inicio" name="schedule[startTime]" value="<%= announcement.schedule['startTime'] %>" />
      </div>

      <div class="form-group">
        <label for="fim">Horário de Término:</label>
        <input type="time" id="fim" name="schedule[endTime]" value="<%= announcement.schedule['endTime'] %>" />
      </div>
    </div>

    <label>
      Prazo de candidatura
      <input type="date" name="end_date" value="<%= announcement.end_date %>" id="end_date" required/>
    </label>
    <label
    >Número de vagas
      <input type="number" 
      name="numberOfPositions" 
      min="1" value="<%= announcement.numberOfPositions %>">
    </label>
    <label>
  Descrição
  <textarea name="description" rows="5" id="description"><%= announcement.description %></textarea>
</label>

    <label>Alterar foto</label>
  <div class="d-flex align-items-center gap-3">
    <div style="width:120px;height:80px;overflow:hidden;border-radius:8px;">
      <img src="<%= announcement.pic %>" alt="foto atual" style="width:100%;height:100%;object-fit:cover;">
    </div>
    <input type="file" name="pic" accept="image/*" />
  </div>
    
    
    
    <label>
  Estado do anúncio
  <select name="state" id="state">
    <option value="Ativo" <%= announcement.state === 'Ativo' ? 'selected' : '' %>>Ativo</option>
    <option value="Desativado" <%= announcement.state === 'Desativado' ? 'selected' : '' %>>Desativado</option>
  </select>
</label>
    <div class="actions-btn">
      <button type="button" class="btn btn-black" onclick="history.back()">
        Voltar
      </button>
      <button type="submit" class="btn btn-blue">Guardar</button>
    </div>

  </form>
  </br>  
    <!-- O form para eliminar necessita estar fora do form principal para funcionar-->
    <form id="deleteForm" method="POST" action="/company-manage-announcement/<%= announcement._id %>?_method=DELETE">
    <div class="actions-btn">
      <button id="deletebtn" type="button" class="btn btn-delete">
        Eliminar
      </button>
    </div>
    </form>

</div>


<!--- rever amanha, em principio apagar --->
<div class="modal" id="confirmModal" style="display: none;">
  <span class="close" onclick="closeModal()">&times;</span>
  <div class="icon">!</div>
  <h2>Tem certeza?</h2>
  <p>Estás prestes a apagar o teu anúncio. Esta ação não pode ser desfeita.</p>
  <div class="buttons">
    <button class="btn-black btn-small" onclick="document.getElementById('deleteForm').submit()">Sim, excluir</button>
    <button class="btn-cancel btn-small" onclick="closeModal()">Cancelar</button>
  </div>
</div>

<!-- Script -->
<script>
  document.getElementById("deletebtn").addEventListener("click", () => {
    document.getElementById("confirmModal").style.display = "block";
  });
  function closeModal() {
    document.getElementById("confirmModal").style.display = "none";
  }
</script>
<!--- rever amanha, em principio apagar --->
