<head>
  <link href="/css/general.css" rel="stylesheet" />
  <link href="/css/company-my-announcements.css" rel="stylesheet" />
</head>
<div id="menu-container">
  <div onclick="myCompanyProfile()" class="company-profile">
    <p id="perfil">Meu Perfil</p>
  </div>
  <div onclick="myAdd()" class="company-add">
    <p id="cand">Anúncios</p>
  </div>
</div>
<hr id="linha" />

<% if (announcements.length === 0) { %>
<p class="text-center">Nenhum anúncio disponível no momento.</p>
<% } %> <% announcements.forEach((announcement) => { %>
<div class="white-card d-flex p-0">
  <div class="d-flex justify-content-start">
    <!-- imagem -->
    <div class="image-wrapper">
      <img class="announcement-img" src="<%= announcement.pic %>" />
    </div>
    <!-- texto -->
    <div class="d-flex flex-column justify-content-between ps-2 pt-1 pb-2">
      <div class="mb-2">
        <h5><%= announcement.job_name %></h5>
        <h6 class="mb-0 fw-normal"><%= announcement.municipality %></h6>
        <h6 class="fw-normal"><%= announcement.regime %></h6>
      </div>
      <div>
        <a
          class="text-muted"
          href="/company-details-announcement?id=<%= announcement._id %>"
        >
          <h6 class="fw-normal">Saber mais</h6>
        </a>
      </div>
    </div>
  </div>
</div>
<% }); %>

<div class="d-flex justify-content-center gap-2">
  <button
    type="button"
    class="buttonWidth btn btn-black"
    onclick="window.location.href='/'"
  >
    Voltar
  </button>
  <button
    class="btn btn-blue"
    onclick="location.href='/company-create-announcement'"
  >
    + Adicionar anúncio
  </button>
</div>

<script src="/js/company-my-profile.js"></script>

<div id="notification" class="notification" style="display: none">
  <div class="alert">!</div>
  <div class="content">
    <div class="title">Notificação</div>
    <div class="message">Anúncio criado com sucesso</div>
  </div>
  <div class="progress-bar-add"></div>
</div>

<div id="notification-delete" class="notificationdel" style="display: none">
  <div class="alert">!</div>
  <div class="content">
    <div class="title">Notificação</div>
    <div class="message">Anúncio eliminado com sucesso</div>
  </div>
  <div class="progress-bar-del"></div>
  <!-- Barra de progresso -->
</div>

<div id="notification-edit" class="notificationedit" style="display: none">
  <div class="alert">!</div>
  <div class="content">
    <div class="title">Notificação</div>
    <div class="message">Anúncio editado com sucesso</div>
  </div>
  <div class="progress-bar-edit"></div>
</div>

<script>
  // Verifica se há notificação a ser exibida
  if (sessionStorage.getItem("mostrarNotificacao") === "true") {
    const notification = document.getElementById("notification");
    notification.style.display = "flex";

    // Remove o gatilho da sessão para não repetir
    sessionStorage.removeItem("mostrarNotificacao");

    // Reinicia a animação da progress bar (necessário para casos de reuso)
    const progressBar = notification.querySelector(".progress-bar-add");
    progressBar.style.animation = "none";
    progressBar.offsetHeight; // forçar reflow
    progressBar.style.animation = null;

    // Esconde após x segundos
    setTimeout(() => {
      notification.classList.add("hide");
      setTimeout(() => {
        notification.remove();
      }, 500);
    }, 5000);
  }
</script>

<script>
  // Verifica se há notificação de remoção a ser exibida
  if (sessionStorage.getItem("mostrarNotificacaoRemocao") === "true") {
    const notificationDelete = document.getElementById("notification-delete");
    notificationDelete.style.display = "flex";

    // Remove o gatilho da sessão para não repetir
    sessionStorage.removeItem("mostrarNotificacaoRemocao");

    // Reinicia a animação da progress bar (necessário para casos de reuso)
    const progressBar = notificationDelete.querySelector(".progress-bar-del");
    progressBar.style.animation = "none";
    progressBar.offsetHeight; // forçar reflow
    progressBar.style.animation = null;

    // Esconde após x segundos
    setTimeout(() => {
      notificationDelete.classList.add("hide");
      setTimeout(() => {
        notificationDelete.remove();
      }, 500); // tempo da transição de opacidade
    }, 5000); // tempo do alerta
  }
</script>

<script>
  // Verifica se há notificação de remoção a ser exibida
  if (sessionStorage.getItem("mostrarNotificacaoEdit") === "true") {
    const notificationEdit = document.getElementById("notification-edit");
    notificationEdit.style.display = "flex";

    // Remove o gatilho da sessão para não repetir
    sessionStorage.removeItem("mostrarNotificacaoEdit");

    // Reinicia a animação da progress bar (necessário para casos de reuso)
    const progressBar = notificationEdit.querySelector(".progress-bar-edit");
    progressBar.style.animation = "none";
    progressBar.offsetHeight; // forçar reflow
    progressBar.style.animation = null;

    // Esconde após x segundos
    setTimeout(() => {
      notificationEdit.classList.add("hide");
      setTimeout(() => {
        notificationEdit.remove();
      }, 500);
    }, 5000);
  }
</script>
