<!-- home.ejs -->
<head>
  <link href="/css/home.css" rel="stylesheet" />
</head>

<!-- pesquisar, ordenar e filtrar -->
<div class="main-card-search-filter mb-3">
  <!-- pesquisar -->
  <div class="input-group">
    <input
      class="main-card-search form-control rounded-bottom-0"
      type="text"
      placeholder="Pesquisar emprego"
    />
    <button class="search-bottom p-2 bg-black text-white">
      <i class="bi bi-search px-1"></i>
    </button>
  </div>

  <div class="d-flex justify-content-between">
    <!-- ordernar (dropdown) -->
    <div class="d-flex main-card-filter-right justify-content-center">
      <button
        type="button"
        id="dropdown-menu-order"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="bi bi-filter me-2"></i> <b>ORDENAR</b>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdown-menu-order">
        <a
          class="dropdown-item <%= order === 'recent' ? 'active' : '' %>"
          href="?order=recent"
          >Mais recente</a
        >
        <a
          class="dropdown-item <%= order === 'old' ? 'active' : '' %>"
          href="?order=old"
          >Mais antigo</a
        >
        <a
          class="dropdown-item <%= order === 'featured' ? 'active' : '' %>"
          href="?order=featured"
          >Em destaque</a
        >
        <a
          class="dropdown-item <%= order === 'a-z' ? 'active' : '' %>"
          href="?order=a-z"
          >A - Z</a
        >
        <a
          class="dropdown-item <%= order === 'z-a' ? 'active' : '' %>"
          href="?order=z-a"
          >Z - A</a
        >
      </div>
    </div>
    <!-- filtrar (pagina) -->
    <button
      onclick="window.location.href='/search-filter'"
      class="d-flex main-card-filter-left justify-content-center"
    >
      <i class="bi bi-funnel-fill me-2"></i> <b>FILTRAR</b>
    </button>
  </div>
</div>

<% if (announcements.length === 0) { %>
<p class="text-center">Nenhum anúncio disponível no momento.</p>
<% } %> <% announcements.forEach((announcement) => { %>
<div class="white-card d-flex p-0">
  <div class="d-flex justify-content-start">
    <!-- imagem -->
    <div class="image-wrapper">
      <img class="announcement-img" src="<%= announcement.pic %>" />
    </div>
    <!-- texto -->
    <div class="d-flex flex-column justify-content-between ps-2 pt-1 pb-2">
      <div class="mb-2">
        <h5><%= announcement.job_name %></h5>
        <h6 class="mb-0 fw-normal"><%= announcement.municipality %></h6>
        <h6 class="fw-normal"><%= announcement.regime %></h6>
      </div>
      <div>
        <a
          class="text-muted"
          href="/home-details-announcement?id=<%= announcement._id %>"
        >
          <h6 class="fw-normal">Saber mais</h6>
        </a>
      </div>
    </div>
  </div>
</div>
<% }); %>
<!-----------------Alertas------------------------------------->

<div
  id="notification-cand-env"
  class="notificationcandenv"
  style="display: none"
>
  <div class="alert">!</div>
  <div class="content">
    <div class="title">Notificação</div>
    <div class="message">Candidatura enviada com sucesso</div>
  </div>
  <div class="progress-bar-cand-env"></div>
  <!-- Barra de progresso -->
</div>
<script>
  // Verifica se há notificação a ser exibida
  if (sessionStorage.getItem("mostrarNotificacaoCandEnv") === "true") {
    const notificationCandEnv = document.getElementById(
      "notification-cand-env"
    );
    notificationCandEnv.style.display = "flex";

    // Remove o gatilho da sessão para não repetir
    sessionStorage.removeItem("mostrarNotificacaoCandEnv");

    // Reinicia a animação da progress bar (necessário para casos de reuso)
    const progressBar = notificationCandEnv.querySelector(
      ".progress-bar-cand-env"
    );
    progressBar.style.animation = "none";
    progressBar.offsetHeight; // forçar reflow
    progressBar.style.animation = null;

    // Esconde após x segundos
    setTimeout(() => {
      notificationCandEnv.classList.add("hide");
      setTimeout(() => {
        notificationCandEnv.remove();
      }, 500);
    }, 5000);
  }
</script>

<!-----------------temporario------------------------------------->
<div class="my-4">
  <h3>temporario</h3>
  <a href="/search-filter">Home - pesquisar por filtro</a><br />
  <a href="/login">Login</a><br />
  <a href="/my-profile-personal-data">Meu Perfil</a><br />
  <a href="/my-profile-professional-data">Dados profissionais</a><br />
  <a href="/my-profile-my-applications">Candidaturas</a><br />
  <a href="/my-profile-my-companies">Minhas empresas</a><br />
  <a href="/company-create-announcement">Empresa - Criar anúncio</a><br />
  <a href="/company-my-announcements">Empresa - Meus anúncios</a><br />
</div>
<!-----------------temporario------------------------------------->
