<link href="/css/manage-company.css" rel="stylesheet" />

<h2 class="text-center my-5 fw-bold">Gerir empresa</h2>

<form method="POST" action="/manage-company/<%= company._id %>">
  <label class="mb-1" for="name">Nome da empresa</label>
  <input
    class="mb-2"
    type="text"
    id="name"
    name="name"
    value="<%= company.name %>"
    required
  />

  <label class="mb-1" for="extra_admins">Outros administradores</label>
  <input
    class="mb-2"
    type="text"
    id="extra_admins"
    name="extra_admins"
    value="<%= company.extra_admins %>"
  />

  <label class="mb-1" for="phone">Telefone</label>
  <input
    class="mb-2"
    type="text"
    id="phone"
    name="phone"
    value="<%= company.phone %>"
    required
  />

  <label class="mb-1" for="nif">NIF</label>
  <input
    class="mb-2"
    type="text"
    id="nif"
    name="nif"
    value="<%= company.nif %>"
    required
  />

  <label class="mb-1" for="address">Morada</label>
  <input
    class="mb-2"
    type="text"
    id="address"
    name="address"
    value="<%= company.address %>"
    required
  />

  <label class="mb-1" for="postcode">Código Postal</label>
  <input
    class="mb-2"
    type="text"
    id="postcode"
    name="postcode"
    value="<%= company.postcode %>"
    required
  />

  <label class="mb-1" for="municipality">Concelho</label>
  <input
    class="mb-2"
    type="text"
    id="municipality"
    name="municipality"
    value="<%= company.municipality %>"
    required
  />

  <label class="mb-1" for="about_us">Sobre nós</label>
  <input
    class="mb-2"
    type="text"
    id="about_us"
    name="about_us"
    value="<%= company.about_us %>"
    required
  />

  <label class="mb-1" for="pic">Adicionar imagem</label>
  <input
    class="mb-2"
    type="text"
    id="pic"
    name="pic"
    value="<%= company.pic %>"
  />

  <div class="d-flex gap-3 mt-4">
    <div class="w-50">
      <button
        type="button"
        class="btn btn-black w-100"
        onclick="history.back()"
      >
        <h6 class="fw-bold">Voltar</h6>
      </button>
    </div>
    <div class="w-50">
      <button type="submit" class="btn btn-blue w-100">
        <h6 class="fw-bold">Guardar</h6>
      </button>
    </div>
  </div>

  <div class="actions-btn d-grid buttonWidth">
    <button id="deletebtn" type="button" class="btn btn-delete">
      Apagar empresa 🗑️
    </button>
  </div>
</form>

<div class="modal" id="confirmModal" style="display: none">
  <span class="close" onclick="closeModal()">&times;</span>
  <div class="icon">!</div>
  <h2>Tem certeza?</h2>
  <p>
    Você está prestes a excluir a sua empresa. Esta ação não pode ser desfeita.
  </p>
  <div class="buttons">
    <button class="delete-btn" onclick="confirmDelete()">Sim, excluir</button>
    <button class="cancel-btn" onclick="closeModal()">Cancelar</button>
  </div>
</div>

<!-- Script -->
<script>
  // ID do anúncio (passado do EJS para JS)
  const companyId = "<%= company._id %>";

  // Botão "Eliminar"
  document.getElementById("deletebtn").addEventListener("click", () => {
    document.getElementById("confirmModal").style.display = "block";
  });

  // Fecha o modal
  function closeModal() {
    document.getElementById("confirmModal").style.display = "none";
  }
  // Confirma eliminação
  async function confirmDelete() {
    try {
      const response = await fetch(`/manage-company?id=${companyId}`, {
        method: "DELETE",
      });

      if (response.ok) {
        sessionStorage.setItem("mostrarNotificacaoDeleteCompany", "true");
        window.location.href = "/settings?section=my-companies";
      } else {
        const errorText = await response.text();
        alert("Erro ao excluir empresa: " + errorText);
      }
    } catch (err) {
      console.error("Erro ao eliminar:", err);
      alert("Erro interno ao tentar excluir empresa.");
    } finally {
      closeModal();
    }
  }
</script>
