<!-- ../views/manage-company.ejs -->

<head>
  <link href="/css/manage-company.css" rel="stylesheet" />
  <link href="/css/form.css" rel="stylesheet" />
</head>

<h2 class="text-center my-5 fw-bold">Gerir empresa</h2>

<form method="POST" action="/manage-company/<%= company._id %>">
  <label for="name">Nome da empresa</label>
  <input
    type="text"
    id="name"
    name="name"
    value="<%= company.name %>"
    required
    maxlength="100"
    placeholder="Ex: Tech Solutions Lda"
  />

  <label for="admin_usernames">
    Administradores (usernames, separados por vírgula)
  </label>
  <input
    type="text"
    id="admin_usernames"
    name="admin_usernames"
    value="<%= company.admin_usernames.join(', ') %>"
    required
    placeholder="ex: user1, user2"
  />

  <label for="company_email">E-mail da empresa</label>
  <input
    type="text"
    id="company_email"
    name="company_email"
    value="<%= company.company_email %>"
    required
    title="Formato de e-mail inválido. (user@mail.com)"
  />

  <label for="phone">Telefone</label>
  <input
    type="text"
    id="phone"
    name="phone"
    value="<%= company.phone %>"
    required
    pattern="^\+?[0-9\s\-().]{6,20}$"
    placeholder="+351 912 345 678"
    title="Número de telefone inválido (ex: +351 912 345 678)"
  />

  <label for="nif">NIF</label>
  <input
    type="text"
    id="nif"
    name="nif"
    value="<%= company.nif %>"
    required
    pattern="^\d{9}$"
    title="O NIF deve conter exatamente 9 dígitos"
    placeholder="123456789"
  />

  <label for="address">Morada</label>
  <input
    type="text"
    id="address"
    name="address"
    value="<%= company.address %>"
    required
    placeholder="Rua Exemplo, 123"
  />

  <label for="postcode">Código Postal</label>
  <input
    type="text"
    id="postcode"
    name="postcode"
    value="<%= company.postcode %>"
    required
    pattern="^\d{4}-\d{3}$"
    title="Formato esperado: 1234-567"
    placeholder="1234-567"
  />

  <label
      >Concelho
      <select name="municipality" id="municipality">
        <option value="">-- Selecione uma opção --</option>
    <option value="Ponta do Sol" <%= company.municipality === 'Ponta do Sol' ? 'selected' : '' %>>Ponta do Sol</option>
  <option value="Calheta" <%= company.municipality === 'Calheta' ? 'selected' : '' %>>Calheta</option>
<option value="Ribeira Brava" <%= company.municipality === 'Ribeira Brava' ? 'selected' : '' %>>Ribeira Brava</option>
<option value="Câmara de Lobos" <%= company.municipality === 'Câmara de Lobos' ? 'selected' : '' %>>Câmara de Lobos</option>
<option value="Funchal" <%= company.municipality === 'Funchal' ? 'selected' : '' %>>Funchal</option>
<option value="Santa Cruz" <%= company.municipality === 'Santa Cruz' ? 'selected' : '' %>>Santa Cruz</option>
<option value="Machico" <%= company.municipality === 'Machico' ? 'selected' : '' %>>Machico</option>
<option value="Santana" <%= company.municipality === 'Santana' ? 'selected' : '' %>>Santana</option>
<option value="São Vicente" <%= company.municipality === 'São Vicente' ? 'selected' : '' %>>São Vicente</option>
<option value="Porto Moniz" <%= company.municipality === 'Porto Moniz' ? 'selected' : '' %>>Porto Moniz</option>
<option value="Porto Santo" <%= company.municipality === 'Porto Santo' ? 'selected' : '' %>>Porto Santo</option>
</select>
  </label>

  <label for="about_us">Sobre nós</label>
  <input
    type="text"
    id="about_us"
    name="about_us"
    value="<%= company.about_us %>"
    maxlength="1000"
    placeholder="Descrição da empresa"
  />

  <label for="pic">Adicionar imagem</label>
    <div class="d-flex align-items-center gap-3">
      <div style="width:120px;height:80px;overflow:hidden;border-radius:8px;">
        <img src="<%= company.pic %>"
            alt="logo atual"
            style="width:100%;height:100%;object-fit:cover;">
      </div>
      <input type="file" id="pic" name="pic" accept="image/*" />
    </div>

  <div class="d-flex gap-3 mt-4">
    <div class="w-50">
      <button
        type="button"
        class="btn btn-black w-100"
        onclick="history.back()"
      >
        <h6 class="fw-bold">Voltar</h6>
      </button>
    </div>
    <div class="w-50">
      <button type="submit" class="btn btn-blue w-100">
        <h6 class="fw-bold">Guardar</h6>
      </button>
    </div>
  </div>
</form>
</br>  
<form
  id="deleteForm"
  method="POST"
  action="/manage-company/<%= company._id %>?_method=DELETE"
>
  <div class="actions-btn">
    <button id="deletebtn" type="button" class="btn btn-delete">
      Apagar empresa
    </button>
  </div>
</form>

<div class="modal" id="confirmModal" style="display: none">
  <span class="close" onclick="closeModal()">&times;</span>
  <div class="icon">!</div>
  <h2>Tem certeza?</h2>
  <p>
    Você está prestes a apagar a sua empresa. Esta ação não pode ser desfeita.
  </p>
  <div class="buttons">
    <button class="delete-btn" onclick="confirmDelete()">Confirmar</button>
    <button class="cancel-btn" onclick="closeModal()">Cancelar</button>
  </div>
</div>

<script>
  document.getElementById("deletebtn").addEventListener("click", () => {
    document.getElementById("confirmModal").style.display = "block";
  });

  function closeModal() {
    document.getElementById("confirmModal").style.display = "none";
  }

  function confirmDelete() {
    sessionStorage.setItem("mostrarNotificacaoDeleteCompany", "true");
    document.getElementById("deleteForm").submit();
  }
</script>
