<!-- search-filter.ejs -->
<head>
  <link href="/css/search-filter.css" rel="stylesheet" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
</head>

<!-- tirar dps -->
<head>
  <link href="/css/home.css" rel="stylesheet" />
</head>

<!-- tirar dps  -->
<div class="white-card p-3">
  <form action="/" method="GET">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="p-0 m-0 fw-bold">FILTRAR</h1>
      <button
        onclick="window.location.href='/search-filter?<%= new URLSearchParams(query).toString() %>'"
        type="submit"
        class="btn-close close-btn pt-1 p-0"
      ></button>
    </div>

    <!-- Categoria -->
    <div class="pe-3">
      <div class="pe-3">
        <button
          class="text-start white-card p-1 px-3 filter-option d-flex justify-content-between align-items-center"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#filtro-categoria"
          aria-expanded="true"
          aria-controls="filtro-categoria"
          id="btn-categoria"
        >
          Categoria
          <i class="bi bi-chevron-down rotate-icon"></i>
        </button>
      </div>

      <div class="collapse show ps-3" id="filtro-categoria">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="category"
          value="Restauração" <%= query.category.includes('Restauração') ?
          'checked' : '' %> />
          <label class="form-check-label" for="categoria-restauracao"
            >Restauração</label
          >
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="category"
          value="Limpeza" <%= query.category.includes('Limpeza') ? 'checked' :
          '' %> />
          <label class="form-check-label" for="categoria-limpeza"
            >Limpeza</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="category"
          value="Construção" <%= query.category.includes('Construção') ?
          'checked' : '' %> />
          <label class="form-check-label" for="categoria-construcao"
            >Construção</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="category"
          value="Vendedor" <%= query.category.includes('Vendedor') ? 'checked' :
          '' %> />
          <label class="form-check-label" for="categoria-vendedor"
            >Vendedor</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="category"
          value="Saúde" <%= query.category.includes('Saúde') ? 'checked' : '' %>
          />
          <label class="form-check-label" for="categoria-saude">Saúde</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="category"
          value="Educação" <%= query.category.includes('Educação') ? 'checked' :
          '' %> />
          <label class="form-check-label" for="categoria-educacao"
            >Educação</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="category"
          value="IT" <%= query.category.includes('IT') ? 'checked' : '' %> />
          <label class="form-check-label" for="categoria-tecnologia">IT</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="category"
          value="Administração" <%= query.category.includes('Administração') ?
          'checked' : '' %> />
          <label class="form-check-label" for="categoria-administracao"
            >Administração</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="category"
          value="Transporte" <%= query.category.includes('Transporte') ?
          'checked' : '' %> />
          <label class="form-check-label" for="categoria-transporte"
            >Transporte</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="category"
          value="Atendimento ao Cliente" <%=
          query.category.includes('Atendimento ao Cliente') ? 'checked' : '' %>
          />
          <label class="form-check-label" for="categoria-atendimento"
            >Atendimento ao Cliente</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="category"
          value="Marketing" <%= query.category.includes('Marketing') ? 'checked'
          : '' %> />
          <label class="form-check-label" for="categoria-marketing"
            >Marketing</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="category"
          value="Financeiro" <%= query.category.includes('Financeiro') ?
          'checked' : '' %> />
          <label class="form-check-label" for="categoria-financeiro"
            >Financeiro</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="category"
          value="Logística" <%= query.category.includes('Logística') ? 'checked'
          : '' %> />
          <label class="form-check-label" for="categoria-logistica"
            >Logística</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="category"
          value="Segurança" <%= query.category.includes('Segurança') ? 'checked'
          : '' %> />
          <label class="form-check-label" for="categoria-seguranca"
            >Segurança</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="category"
          value="Serviços Gerais" <%= query.category.includes('Serviços Gerais')
          ? 'checked' : '' %> />
          <label class="form-check-label" for="categoria-servicos"
            >Serviços Gerais</label
          >
        </div>
      </div>
    </div>

    <!-- Tipo -->
    <div class="pe-3">
      <div class="pe-3">
        <button
          class="text-start white-card p-1 px-3 filter-option d-flex justify-content-between align-items-center"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#filtro-tipo"
          aria-expanded="true"
          aria-controls="filtro-tipo"
          id="btn-tipo"
        >
          Tipo
          <i class="bi bi-chevron-down rotate-icon"></i>
        </button>
      </div>

      <div class="collapse show ps-3" id="filtro-tipo">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="type"
          value="Emprego" <%= query.type.includes('Emprego') ? 'checked' : '' %>
          />
          <label class="form-check-label" for="tipo1">Emprego</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="type"
          value="Estágio" <%= query.type.includes('Estágio') ? 'checked' : '' %>
          />
          <label class="form-check-label" for="tipo2">Estágio</label>
        </div>
      </div>
    </div>

    <!-- Regime -->
    <div class="pe-3">
      <div class="pe-3">
        <button
          class="text-start white-card p-1 px-3 filter-option d-flex justify-content-between align-items-center"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#filtro-regime"
          aria-expanded="true"
          aria-controls="filtro-regime"
          id="btn-regime"
        >
          Regime
          <i class="bi bi-chevron-down rotate-icon"></i>
        </button>
      </div>

      <div class="collapse show ps-3" id="filtro-regime">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="regime"
          value="Full-time" <%= query.regime.includes('Full-time') ? 'checked' :
          '' %> />
          <label class="form-check-label" for="regime1">Full-time</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="regime"
          value="Part-time" <%= query.regime.includes('Part-time') ? 'checked' :
          '' %> />
          <label class="form-check-label" for="regime2">Part-time</label>
        </div>
      </div>
    </div>

    <!-- Concelho -->
    <div class="pe-3">
      <div class="pe-3">
        <button
          class="text-start white-card p-1 px-3 filter-option d-flex justify-content-between align-items-center"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#filtro-concelho"
          aria-expanded="true"
          aria-controls="filtro-concelho"
          id="btn-concelho"
        >
          Concelho
          <i class="bi bi-chevron-down rotate-icon"></i>
        </button>
      </div>

      <div class="collapse show ps-3" id="filtro-concelho">
        <div class="form-check">
          <input class="form-check-input" name="municipality" type="checkbox"
          value="Ponta do Sol" <%= query.municipality.includes('Ponta do Sol') ?
          'checked' : '' %> /><label class="form-check-label" for="pds"
            >Ponta do Sol</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" name="municipality" type="checkbox"
          value="Calheta" <%= query.municipality.includes('Calheta') ? 'checked'
          : '' %> /><label class="form-check-label" for="calheta"
            >Calheta</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" name="municipality" type="checkbox"
          value="Ribeira Brava" <%= query.municipality.includes('Ribeira Brava')
          ? 'checked' : '' %> /><label class="form-check-label" for="rb"
            >Ribeira Brava</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" name="municipality" type="checkbox"
          value="Câmara de Lobos" <%= query.municipality.includes('Câmara de
          Lobos') ? 'checked' : '' %> /><label class="form-check-label" for="cl"
            >Câmara de Lobos</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" name="municipality" type="checkbox"
          value="Funchal" <%= query.municipality.includes('Funchal') ? 'checked'
          : '' %> /><label class="form-check-label" for="funchal"
            >Funchal</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" name="municipality" type="checkbox"
          value="Santa Cruz" <%= query.municipality.includes('Santa Cruz') ?
          'checked' : '' %> /><label class="form-check-label" for="sc"
            >Santa Cruz</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" name="municipality" type="checkbox"
          value="Machico" <%= query.municipality.includes('Machico') ? 'checked'
          : '' %> /><label class="form-check-label" for="machico"
            >Machico</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" name="municipality" type="checkbox"
          value="Santa Cruz" <%= query.municipality.includes('Santa Cruz') ?
          'checked' : '' %> /><label class="form-check-label" for="santana"
            >Santana</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" name="municipality" type="checkbox"
          value="São Vicente" <%= query.municipality.includes('São Vicente') ?
          'checked' : '' %> /><label class="form-check-label" for="sv"
            >São Vicente</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" name="municipality" type="checkbox"
          value="Porto Moniz" <%= query.municipality.includes('Porto Moniz') ?
          'checked' : '' %> /><label class="form-check-label" for="pm"
            >Porto Moniz</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" name="municipality" type="checkbox"
          value="Porto Santo" <%= query.municipality.includes('Porto Santo') ?
          'checked' : '' %> /><label class="form-check-label" for="ps"
            >Porto Santo</label
          >
        </div>
      </div>
    </div>

    <!-- Escolaridade -->
    <div class="pe-3">
      <div class="pe-3">
        <button
          class="text-start white-card p-1 px-3 filter-option d-flex justify-content-between align-items-center"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#filtro-escolaridade"
          aria-expanded="true"
          aria-controls="filtro-escolaridade"
          id="btn-escolaridade"
        >
          Escolaridade
          <i class="bi bi-chevron-down rotate-icon"></i>
        </button>
      </div>

      <div class="collapse show ps-3" id="filtro-escolaridade">
        <div class="form-check">
          <input class="form-check-input" name="education_level" type="checkbox"
          value="ensino básico" <%= query.education_level.includes('ensino
          básico') ? 'checked' : '' %> /><label
            class="form-check-label"
            for="3c"
            >Ensino Básico</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" name="education_level" type="checkbox"
          value="ensino secundário" <%= query.education_level.includes('ensino
          secundário') ? 'checked' : '' %> /><label
            class="form-check-label"
            for="sec"
            >Ensino Secundário</label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" name="education_level" type="checkbox"
          value="ensino superior" <%= query.education_level.includes('ensino
          superior') ? 'checked' : '' %> /><label
            class="form-check-label"
            for="es"
            >Ensino Superior</label
          >
        </div>
      </div>
    </div>
  </form>

  <script src="/js/search-filter.js"></script>
</div>
